<%= form_for @lutador, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :prototipo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :prototipo_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :imagem, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :imagem, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :classe, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :classe, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :idade, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ataque, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ataque, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :defesa, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :defesa, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tecnica, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tecnica, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taxa_ataque, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :taxa_ataque, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taxa_defesa, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :taxa_defesa, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taxa_tecnica, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :taxa_tecnica, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lutadores_path, :class => 'btn' %>
  </div>
<% end %>
