<% cont = 1 %>
<% aberto = true %>
<div class="row-fluid">
	<div class="span2 display-lutador">
		<div class="inner-lutador adicionador">
			<%= link_to image_tag("icones/+.png"), gen_path %>
		</div>
	</div>
<% @lutadores.each do |lutador| %>
<% if (cont % 6) == 0  %>
	<% if (aberto) %>
		</div>
	<% end %>
	<div class="row-fluid">
	<% aberto = true %>
<% end %>

<div class="span2 display-lutador">
	<div class="inner-lutador">
		<div class="row-fluid">
			<%= image_tag lutador.imagem, size: "100x100" %>
			<div class="total-lutador"><%= lutador.total %></div>
		</div>
		<h3 class="nome-lutador"><%= lutador.nome %></h3>
		<h3 class="nome-lutador"><%= lutador.apelido %></h3>
		<%= atributos(lutador)%>
	</div>
</div>
 <% cont += 1 %>
<% end %>

<% if (aberto) %>
		</div>
	<% end %>

	