<%- model_class = @lutador.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:prototipo_id) %>:</strong></dt>
  <dd><%= @lutador.prototipo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagem) %>:</strong></dt>
  <dd><%= @lutador.imagem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @lutador.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @lutador.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:classe) %>:</strong></dt>
  <dd><%= @lutador.classe %></dd>
  <dt><strong><%= model_class.human_attribute_name(:idade) %>:</strong></dt>
  <dd><%= @lutador.idade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ataque) %>:</strong></dt>
  <dd><%= @lutador.ataque %></dd>
  <dt><strong><%= model_class.human_attribute_name(:defesa) %>:</strong></dt>
  <dd><%= @lutador.defesa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tecnica) %>:</strong></dt>
  <dd><%= @lutador.tecnica %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taxa_ataque) %>:</strong></dt>
  <dd><%= @lutador.taxa_ataque %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taxa_defesa) %>:</strong></dt>
  <dd><%= @lutador.taxa_defesa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taxa_tecnica) %>:</strong></dt>
  <dd><%= @lutador.taxa_tecnica %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lutadores_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lutador_path(@lutador), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lutador_path(@lutador),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
