@import "compass_twitter_bootstrap";



// .rounded-corners (@radius: 5px) {
//   border-radius: @radius;
//   -webkit-border-radius: @radius;
//   -moz-border-radius: @radius;
// }


 body {
  background-image:url("topbg.png");
  background-repeat:repeat;
 }
 
 .table {
   margin-bottom: 0;
   //background-color:rgba(0,0,0,0.1);
 }

.topbar {
  background-image:url("bg2.png");
  background-repeat:repeat;
  border-bottom: solid 5px rgba(0,0,0,0.2);
}

.corpo {
  margin-top:50px;
  min-height: 800px;
}

.display-lutador{
  margin-top:15px;
}

// img{
//  .rounded-corners(5px);
// }

.inner-lutador{
    padding:0;
    border:solid 3px rgba(0,0,0,0.5);
    background-color:rgba(0,0,0,0.2);
    // .rounded-corners(10px);
}

.total-lutador{
  font-size:3.3em;
  //margin-left:25px;
  //display:inline;
  //height: 100px;
  padding-top: 40px;
  width: 100px;
  float: right;
}

.nome-lutador{
  text-align:center;
  display:block;
  background-repeat:repeat;
  background-color:rgba(0,0,0,0.4);
  //border-top: solid 2px @grayAux;
  //border-bottom: solid 2px @grayAux;
}

.navbar .nav > li > a {
  padding: 10px 30px 5px;
}

.label2{
  background-color:rgba(200,200,200,0.3);
}
.label4{
  background-color:rgba(150,150,210,0.3);
}
.label6{
  background-color:rgba(100,100,225,0.3);
}
.label8{
  background-color:rgba(50,50,240,0.3);
}
.label10{
  background-color:rgba(0,0,255,0.3);
}

.adicionador{
  height:277px;
  text-align:center;
  img{
    margin-top: 80px;
  }
}



footer{
  p {
    text-align: center;
    font-size: 3em;
    color: rgba(0,0,0,0.5);
  }
  min-height: 50px;
  margin-top: 50px;
}