    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid topbar">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--<a class="brand" href="#">Arena</a>-->
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to image_tag("icones/globo.png", size: "64x64"), "#"  %></li>
              <li><%= link_to image_tag("icones/luva.png", size: "64x64"), "/lutadores"  %></li>
              <li><%= link_to image_tag("icones/estrutura.png", size: "64x64"), "#"  %></li>
              <li><%= link_to image_tag("icones/binoculos.png", size: "64x64"), "#"  %></li>
              <li><%= link_to image_tag("icones/muro.png", size: "64x64"), "#"  %></li>
              <li><%= link_to image_tag("icones/cone.png", size: "64x64"), "#"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>